@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root{
    --font-button-nav: 'Roboto', sans-serif;
    --font-body: 'Ubuntu', sans-serif;
    --color-font-button-nav: #FED001;
    --color-background-nav: #2A2A2A;
    --color-background-our-school: #003464;
}

*{
    margin: 0;
}

html{
    font-size: 62.5%;
}

header.top-header{
    background-color: var(--color-background-nav);
    display: flex;
    padding: 3rem 8rem;
    align-items: center;
    justify-content: space-between;
}

ul.top-header-buttons{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

ul.top-header-buttons li a{
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 1.6rem;
    color: var(--color-font-button-nav);
    outline: 1px solid var(--color-font-button-nav);
    padding: 1.4rem;
    margin: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

ul.top-header-buttons li a:visited{
    color: var(--color-font-button-nav);
}

ul.top-header-buttons li a:hover{
    color: var(--color-background-nav);
    background-color: var(--color-font-button-nav);
}

ul.top-header-buttons li a:active{
    background-color: #222222;
    color: var(--color-font-button-nav);
}

section.top-hero{
    background-image: linear-gradient(to top, #FFFF3D, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}

div.top-hero-text{
    display: flex;
    flex-direction: column;
}

p.top-hero-text-p{
    font-family: var(--font-body);
    font-size: 7rem;
    font-weight: 500;
    color: var(--color-background-nav);
}

div.top-hero-text a:link{
    text-decoration: none;
    font-family: var(--font-button-nav);
    font-size: 2rem;
    color: var(--color-background-nav);
    background-color: var(--color-font-button-nav);
    padding: 1.4rem 4rem;
    border-radius: 3px;
    width: 10rem;
    margin-top: 4rem;
    font-weight: 500;
}

div.top-hero-text a:visited{
    color: var(--color-background-nav);
}

div.top-hero-text a:hover{
    background-color: var(--color-background-nav);
    color: var(--color-font-button-nav);
}

div.top-hero-text a:active{
    background-color: var(--color-font-button-nav);
    color: var(--color-background-nav);
}

section.main-courses{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    gap: 8rem;
}

h1.main-courses-title{
    font-family: var(--font-body);
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 1.6em;
}

div.main-courses-list-courses{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

article.main-courses-items{
    display: flex;
    flex-direction: column;
    width: 40rem;
}

div.item-text{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 4rem 2.5rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 6px #41414131;
    flex: 1;
}

div.item-text h2{
    font-family: var(--font-body);
    font-size: 2.5rem;
    letter-spacing: .1rem;
}

div.item-text p{
    font-family: var(--font-body);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 300;
    line-height: 2.5rem;
    padding-top: 2rem;
}

section.main-courses a{
    font-family: var(--font-button-nav);
    font-size: 2rem;
    color: var(--color-background-nav);
    background-color: var(--color-font-button-nav);
    text-decoration: none;
    font-weight: 500;
    padding: 2rem 5rem;
    border-radius: 3px;
    width: 15rem;
}

section.main-courses a:visited{
    color: var(--color-background-nav);
}

section.main-courses a:hover{
    background-color: var(--color-background-nav);
    color: var(--color-font-button-nav);
}

section.main-courses a:active{
    background-color: var(--color-font-button-nav);
    color: var(--color-background-nav);
}

section.our-school{
    background-color: var(--color-background-our-school);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10rem;
}

div.our-school-text{
    display: flex;
    flex-direction: column;
}

div.our-school-text h2.our-school-text-title{
    font-family: var(--font-body);
    font-size: 3.5rem;
    letter-spacing: .1rem;
    color: #fff;
}

div.our-school-text p.our-school-text-p{
    font-family: var(--font-body);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8rem;
    padding-top: 8rem;
    color: #fff;
    width: 50rem;
}

section.location{
    display: flex;
    flex-direction: column;
}

section.location h1.location-title{
    font-family: var(--font-body);
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: .3rem;
    text-align: center;
    padding: 10rem 10rem 0 10rem;
}

section.location img{
    padding: 10rem;
}

section.location p{
    text-align: right;
    font-family: var(--font-body);
    font-size: 2rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
}

footer{
    background-color: var(--color-background-nav);
}

footer p{
    font-family: var(--font-body);
    font-size: 1.8rem;
    color: #fff;
    padding: 5rem;
    text-align: center;
}