@charset "UTF-8";

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1px;
    padding-bottom: 1px;
}

h1{
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 4px black;
    font-size: 70px;
    text-align: center;
    margin: 70px 0 20px 0;
}

p{
    color: #fff;
    background-color: rgb(20, 20, 20);
    width: fit-content;
    padding: 16px;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid;
    font-size: 20px;
    margin-bottom: 20px;
}

section{
    background-color: #fff;
    padding: 0;
    width: 1200px;
    height: 525px;
    margin-bottom: 3vw;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-evenly;
}

ul li{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

ul li.formatLi{
    width: 350px;
    height: 250px;
}

ul li#topicOne{
    background-image: url(../imagens/card_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

ul li#topicTwo{
    background-image: url(../imagens/card_02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

ul li#topicThree{
    background-image: url(../imagens/card_03.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

ul li#topicFour{
    background-image: url(../imagens/card_04.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

ul li#topicFive{
    background-image: url(../imagens/card_05.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

ul li#topicSix{
    background-image: url(../imagens/card_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

ul li a{
    background-color: rgb(20, 20, 20);
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 6px;
}