@charset "utf 8";

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #808080;
}

header{
    background-color: #d3d3d3;
    border-radius: 10px 10px 0px 0px;
    margin: 10px 10px 0px 10px;
    border-bottom: 1px solid gray;
}

header h1{
    text-align: center;
}

div#field{
    background-color: #d3d3d3;
    border-radius: 0px 0px 10px 10px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #d3d3d3;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

footer a:link{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer a:visited{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    color: #808080;
    text-decoration: underline;
}

footer a:active{
    color: #ffffff;
    background-color: #000000;
}
