@charset "utf-8";

div#container h1{
    text-align: center;
    font-family: var(--font-titles);
}

div#field{
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 2px 2px 4px grey;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

div#field h1{
    padding: 10px;
}

article#imcValue{
    display: inline-block;
    width: 200px;
    font-family: var(--font-body);
}

article#imcResult{
    display: inline-block;
    width: 200px;
    font-family: var(--font-body);
}